header.header 
    img(src="/IMG/Face.png", alt="")
    .login
        form(action="")
            .correo
        
                label(for="Correo") Correo Electrónico o teléfono
                input(type="email")
            .contras
                label(for="Correo") Contraseña
                input(type="password") 
                p ¿Olvidaste tu cuenta?
            a(href="#") Iniciar Sesión