extend componentes/Plantilla.pug

block contenidos
    .container
        .hero
            .titles
                h1 Inicios de sesión recientes
                h2 Haz clic en tu foto o agrega una cuenta.
            .cards
                .card
                    img(src="/IMG/img2.jpg", alt="")
                    .name
                        h4 Diego

                .card
                    img(class="add" src="/IMG/add.png", alt="")
                    .name
                        h4 Diego
        .formulario


